<html>
    <head>
        <title>W+K Cycle Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
        <script src="../static/js/jquery-1.11.1.min.js"></script>
        <script src="../static/js/jquery.tablesorter.min.js"></script>
        <script type="text/javascript">
          $(document).ready(function() 
          {
            $("#leader").tablesorter({sortInitialOrder: 'desc', sortList:[[4,1], [5,1]]}); 
          });
        </script>
    </head>
    <body>
     <div id="container">
        <div class="nav">
        {% if not session['access_token'] %}
        <a href={{ url_for('.register') }}>Register</a>
        {% else  %}
        <a href={{ url_for('.logout') }}>Logout</a>
        {% endif %}
        <a class="right" href={{ url_for('.admin') }}>Admin</a>
        </div>
        <div id="content">
            <div class="logo">
              <a href="/"><img src="../static/assets/logo-100px.gif" /></a>
            </div>
            <div class="view">
              <ul>
                <li><a href={{ urls.day_url }}>Day</a></li>
                <li><a href={{ urls.week_url }}>Week</a></li>
                <li><a href={{ urls.month_url }}>Month</a></li>
              </ul>
            </div>
            <div class="next">
              <ul>
                <li><a href={{ urls.prev_url }}> < prev </a></li>
                <li><a href={{ urls.next_url }}> next > </a></li>
              </ul>
            </div>
            <div class="period">{{ urls.title }}</div>
            <table id="leader" class="tablesorter">
            <thead>
            <tr class="titles">
                <th><b>Name</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Miles</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Duration</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Speed</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Rate</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Trips</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Inbound</b>&nbsp;&nbsp;&nbsp;</th>
                <th><b>Outbound</b>&nbsp;&nbsp;&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
            <tr class="items">
                <td>
                {% if entry.newuser %} <img src="../static/assets/icon-new-user.gif" /> {% endif %} 
                {{ entry.name }} 
                </td>
                <td>{{ entry.distance }} </td>
                <td>{{ entry.duration }} </td>
                <td>{{ entry.speed }} mph</td>
                <td>{{ entry.rate }}%</td>
                <td>{{ entry.nCommutes }}</td>
                <td>{{ entry.toWork }}</td>
                <td>{{ entry.fromWork }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
      </div>
    </body>
</html>
